@font-face {
  font-family: cursiveFont;
  src: url(SignPainter.ttc);
}

body {
  background-color: #fffdf1;
  color: #020801;
  font-family: cursiveFont;

}

a:visited {
  color: lightgray;
}

.carttopnav {
  display: flex;
  justify-content: flex-end;
  /* Align items to the right */
  align-items: center;
  /* Center items vertically */
  padding: 10px;
  /* Optional: Add padding for spacing */
}

.carttopnav a {
  color: #020801;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.carttopnav a:hover {
  background-color: #f50057;
  color: #ffffff;
}

/* Adjust styles for the IconButton */
.carttopnav .MuiIconButton-root {
  /* Automatically aligns the IconButton to the right */
  margin-left: auto;
}

.shoptopnav {
  display: flex;
  justify-content: flex-end;
  /* Align items to the right */
  align-items: center;
  /* Center items vertically */
  padding: 10px;
  /* Optional: Add padding for spacing */
}

.shoptopnav a {
  color: #020801;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.shoptopnav a:hover {
  background-color: #f50057;
  color: #ffffff;
}

/* Adjust styles for the IconButton */
.shoptopnav .MuiIconButton-root {
  /* Automatically aligns the IconButton to the right */
  margin-left: auto;
}

.abouttopnav {
  display: flex;
  justify-content: flex-end;
  /* Align items to the right */
  align-items: center;
  /* Center items vertically */
  padding: 10px;
  /* Optional: Add padding for spacing */
}

.abouttopnav a {
  color: #020801;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.abouttopnav a:hover {
  background-color: #f50057;
  color: #ffffff;
}

/* Adjust styles for the IconButton */
.abouttopnav .MuiIconButton-root {
  /* Automatically aligns the IconButton to the right */
  margin-left: auto;
}

.category1topnav {
  display: flex;
  justify-content: flex-end;
  /* Align items to the right */
  align-items: center;
  /* Center items vertically */
  padding: 10px;
  /* Optional: Add padding for spacing */
}

.category1topnav a {
  color: #020801;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.category1topnav a:hover {
  background-color: #f50057;
  color: #ffffff;
}

/* Adjust styles for the IconButton */
.category1topnav .MuiIconButton-root {
  /* Automatically aligns the IconButton to the right */
  margin-left: auto;
}

.indextopnav {
  display: flex;
  justify-content: flex-end;
  /* Align items to the right */
  align-items: center;
  /* Center items vertically */
  padding: 10px;
  /* Optional: Add padding for spacing */
}

.indextopnav a {
  color: #020801;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.indextopnav a:hover {
  background-color: #f50057;
  color: #ffffff;
}

/* Adjust styles for the IconButton */
.indextopnav .MuiIconButton-root {
  /* Automatically aligns the IconButton to the right */
  margin-left: auto;
}